

.bloc_page .bordure
{
	
	margin:0px;
	text-align: justify;	
	background: #B2EBF2;
	

}



.bordure .imgMoi
{
	margin-top: 60px;
	width: 50%;
	margin-left: 25%;
	border-radius: 50%;
	
	
	-moz-box-shadow: 1px 1px 8px grey; 
  	-webkit-box-shadow: 1px 1px 8px grey; 
  	box-shadow: 1px 1px 8px grey;
	

}




.bordure h2
{
	color : #ffffff;
	font-size: 1.7em;
	text-align: center;
	text-transform: uppercase;
	background-color: #039BE5;



}

.bordure p
{
	color : #090909;
	margin-top: 20px;
}





.bordure .contact 
{
	margin-top: 40px;
	
}


.bordure .contact p
{
	margin-left: 40px;

}

.bordure .Me
{
	margin-top: 60px;
	height: 700px;
}

.bordure .Me p 
{
	margin-left: 40px;
	margin-right: 40px;
}



.bordure .loisirs
{
	margin-top: 200px;		
}



.bordure .sport
{
	margin-top: 30px;
}

.bordure .fas
{
	color: #039BE5;	
	/*
	padding: 14px;			
	border : 1px solid #039BE5;
	border-radius: 50%;
	*/

}









.sectionPrincipale em
{
	font-style: normal;
	font-weight: normal;
	color: #039BE5 ;
}

.sectionPrincipale h2 .fas , .sectionPrincipale h2 .far
{
	color: #039BE5;
	margin-right: 20px;
}

.sectionPrincipale header
{
	margin-top: 100px;
}

.sectionPrincipale header .prenom
{
	font-size: 4em;
	text-transform: uppercase;
	color: #424242;
}

.sectionPrincipale header p
{
	font-weight: bold;
	font-size: 1.3em;
	color: #4d4d4d;
}

.sectionPrincipale .spans
{
	border-bottom: 2px solid #039BE5;
}

.sectionPrincipale .formation
{
	margin-top: 130px;
}

.sectionPrincipale h2
{
	font-size: 2em;
	margin-top: 40px;
	padding-bottom: 10px;
	border-bottom: 2px solid #039BE5;
	font-weight: bold;
	text-transform: uppercase;
	color: #424242;
}

.sectionPrincipale h3
{
	font-weight: bold;
	font-size: 1.3em;
	text-transform: uppercase;
	color: #515151;
}

.sectionPrincipale h4
{
	text-transform: uppercase;
	font-size: 1.1em;
	
}

.sectionPrincipale ul , .sectionPrincipale p
{
	color: #4b4b4b;
}

.sectionPrincipale .formation .sousFormation , .sectionPrincipale .recommandation .sousRecommandation , .sectionPrincipale .experiencePro .sousExperiencePro
{
	margin-top: 30px;
}

.bas 
{
	margin-top: 50px;
}

.farond
{
	color: #B2EBF2;
}














@media(max-width: 991px){

	.bordure h2
{
	font-size: 1.5em;
}

.bloc_page .bordure
{
	text-align: left;
}

.bordure .loisirs
{
	margin-top: 500px;
}



	.sectionPrincipale header .prenom
{
	font-size: 1.5em;	
}

	.sectionPrincipale h2
{
	font-size: 1.5em;
}

	.sectionPrincipale h3
{
	
	font-size: 1.1em;
	
}

.sectionPrincipale h4
{
	
	font-size: 1em;
	
}

}


@media(max-width:767px){

p
{
	word-wrap: break-word;
}

.bordure .contact
{
	text-align: left;
}

.bordure .Me p 
{
	font-size: 0.8em;
	margin: 0;
	
}


section p , section ul , footer p
{
font-size: 0.8em;
}

}














